<ion-header>
  <ion-toolbar>
    <ion-title>Solitaire</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']"
        routerDirection="back">
        <ion-icon slot="icon-only"
          color="dark"
          name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="6"
        sizeMd="6"
        sizeXl="6"
        sizeSm="6"
        sizeXs="12">
        <app-dobble-card title="Look at this card ({{index}})"
          *ngIf="previousCard"
          [card]="previousCard"></app-dobble-card>
      </ion-col>
      <ion-col sizeLg="6"
        sizeMd="6"
        sizeXl="6"
        sizeSm="6"
        sizeXs="12">
        <app-dobble-card (symbolClick)="onSymbolClick($event)"
          *ngIf="currentCard"
          title="Select the ONE matching symbol on this card"
          [card]="currentCard"></app-dobble-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-modal [isOpen]="gameOver && showGameOver"
    (didDismiss)="showGameOver=false"
    [keyboardClose]="true"
    [breakpoints]="[0.5, 0.75]"
    [initialBreakpoint]="0.75"
    [swipeToClose]="true">
    <ng-template>
      <app-game-over (closed)="showGameOver=false"
        [score]="score"
        [game]="slug"
        [symbols]="symbolsPerCard"
        [card]="previousCard"></app-game-over>
    </ng-template>
  </ion-modal>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <ion-label>Score: {{score}}</ion-label>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="gameOver"
        (click)="showGameOver=true">
        <ion-icon slot="icon-only"
          name="share"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
