@media screen and (orientation: portrait) {
  .card {
    display: inline-block;
    width: min(40vh, 80vw);
  }
}

@media screen and (orientation: landscape) {
  .card {
    display: inline-block;
    width: min(70vh, 50vw);
  }
}

.card-grid {
  text-align: center;
}
