<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/setup"></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Solitaire</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']"
        routerDirection="back">
        <ion-icon slot="icon-only"
          color="dark"
          name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="texture">
  <div class="card-grid">
    <div id="previous-card" class="card">
      <div class="spinner-prev">
        <app-dobble-card *ngIf="previousCard"
        (symbolClick)="onSymbolClick($event)"
        [card]="previousCard.symbols"></app-dobble-card>
      </div>
    </div>
    <div id="current-card" class="card">
      <div class="spinner-next">
        <app-dobble-card *ngIf="currentCard"
        (symbolClick)="onSymbolClick($event)"
        [card]="currentCard.symbols"></app-dobble-card>
      </div>
    </div>
  </div>

  <ion-modal [isOpen]="gameOver && showGameOver"
    (didDismiss)="showGameOver=false"
    [keyboardClose]="true"
    [breakpoints]="[0.5, 0.75, 1]"
    [initialBreakpoint]="0.75"
    [swipeToClose]="true">
    <ng-template>
      <app-game-over (closed)="showGameOver=false"
        [score]="score"
        [game]="deckInfo?.slug"
        [symbols]="deckInfo?.symbolsPerCard"
        [deckSize]="deckSize"
        [card]="previousCard.symbols"></app-game-over>
    </ng-template>
  </ion-modal>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <ion-label *ngIf="score">Score: {{score}}</ion-label>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="gameOver"
        (click)="showGameOver=true">
        <ion-icon slot="icon-only"
          name="share"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

<ion-fab *ngIf="currentCard && index"
  vertical="bottom"
  horizontal="end"
  slot="fixed">
  <ion-fab-button color="primary">
    {{index}}
  </ion-fab-button>
</ion-fab>
