<ion-app>
  <ion-split-pane [disabled]="false"
    contentId="main">
    <ion-menu #menu
      contentId="main"
      type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="menu">
        <ion-list>
          <ion-menu-toggle auto-hide="false"
            *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'"
              [routerLink]="[p.url]">
              <ion-icon slot="start"
                [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle *ngIf="(isEnabled | async);else disabled"
            auto-hide="false">
            <ion-item button
              (click)="sounds.disable()">
              <ion-icon slot="start"
                name="volume-medium"></ion-icon>
              <ion-label>
                Sounds On
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ng-template #disabled>
            <ion-menu-toggle auto-hide="false">
              <ion-item button
                (click)="sounds.enable()">
                <ion-icon slot="start"
                  name="volume-mute"></ion-icon>
                <ion-label>
                  Sounds Off
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ng-template>
          <ion-menu-toggle auto-hide="false">
            <ion-item button
              *ngIf="(updateAvailable | async);"
              (click)="reload()">
              <ion-icon slot="start"
                name="refresh-circle"></ion-icon>
              <ion-label>
                Install New version
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer>
        <ion-toolbar>
          <ion-title>v{{appVersion}}</ion-title>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
