<ion-header>
  <ion-toolbar>
    <ion-title>New Game</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/image-credits']">
        <ion-icon slot="icon-only"
          name="newspaper"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        Configure a new game
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Game Name:</ion-label>
          <ion-input [(ngModel)]="slug"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Number of symbols per card: </ion-label>
          <ion-select [(ngModel)]="selectedNumberOfSymbols"
            interface="popover">
            <ion-select-option *ngFor="let validSymbol of validSymbols"
              [value]="validSymbol">{{validSymbol}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-button color="primary"
        [routerLink]="['/solitaire', selectedNumberOfSymbols, slug]"
        routerDirection="root"
        expand="block">
        Start
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
