<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>New Game</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']"
        routerDirection="back">
        <ion-icon slot="icon-only"
          color="dark"
          name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="texture">
  <ion-card>
    <ion-card-header color="secondary">
      <ion-card-subtitle>
        Configure a new game
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-label position="stacked">Game Name:</ion-label>
          <ion-input [(ngModel)]="slug"></ion-input>
          <ion-button slot="end"
            (click)="generateSlug()"
            color="transparent">
            <ion-icon name="refresh"
              slot="icon-only"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Difficulty: </ion-label>
          <ion-select [(ngModel)]="selectedNumberOfSymbols"
            interface="popover">
            <ion-select-option *ngFor="let validSymbol of validSymbols"
              [value]="validSymbol.value">{{validSymbol.label}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Deck Size: </ion-label>
          <ion-select [(ngModel)]="selectedDeckSize"
            interface="popover">
            <ion-select-option *ngFor="let size of deckSizes"
              [value]="size.value">{{size.label}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-button color="primary"
        [routerLink]="['/solitaire', selectedNumberOfSymbols, slug]"
        [queryParams]="{deckSize: selectedDeckSize}"
        routerDirection="forward"
        expand="block">
        Start
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
