ion-card-content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
}

.symbols {
  width: 100%;
  height: 100%;
  padding: 0;
}

.symbol {
  text-align: center;
  overflow: hidden;
}

.symbol-wrapper {
  background-color: transparent;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16.5%;
  width: 33%;
  height: 33%;
  overflow: hidden;

  img {
    width: 90%;
    height: 90%;
    object-fit: contain;
    opacity: 0.85;
  }

  img:hover {
    opacity: 1;
  }
}

.symbols-4 {
  .symbol-wrapper:nth-of-type(1) {
    transform:
      rotate(45deg) translate(85%) rotate(-45deg);
  }

  .symbol-wrapper:nth-of-type(2) {
    transform:
      rotate(135deg) translate(80%) rotate(-135deg);
  }

  .symbol-wrapper:nth-of-type(3) {
    transform:
      rotate(225deg) translate(80%) rotate(-225deg);
  }

  .symbol-wrapper:nth-of-type(4) {
    transform:
      rotate(180deg) translate(80%) rotate(-315deg);
  }
}

.symbols-6 {
  img {
    width: 70%;
    height: 70%;
  }

  .symbol-wrapper:nth-of-type(1) {
    transform:
      rotate(36deg) translate(95%) rotate(-36deg);
  }

  .symbol-wrapper:nth-of-type(2) {
    transform:
      rotate(108deg) translate(95%) rotate(-108deg);
  }

  .symbol-wrapper:nth-of-type(3) {
    transform:
      rotate(180deg) translate(95%) rotate(-180deg);
  }

  .symbol-wrapper:nth-of-type(4) {
    transform:
      rotate(252deg) translate(95%) rotate(-252deg);
  }

  .symbol-wrapper:nth-of-type(5) {
    transform:
      rotate(324deg) translate(95%) rotate(-324deg);
  }

  .symbol-wrapper:nth-of-type(6) {
    transform:
      rotate(0deg) translate(0%) rotate(0deg);
  }
}

.symbols-8 {
  img {
    width: 70%;
    height: 70%;
  }

  .symbol-wrapper:nth-of-type(1) {
    transform:
      rotate(26deg) translate(95%) rotate(-26deg);
  }

  .symbol-wrapper:nth-of-type(2) {
    transform:
      rotate(77deg) translate(95%) rotate(-77deg);
  }

  .symbol-wrapper:nth-of-type(3) {
    transform:
      rotate(128deg) translate(95%) rotate(-128deg);
  }

  .symbol-wrapper:nth-of-type(4) {
    transform:
      rotate(180deg) translate(95%) rotate(-180deg);
  }

  .symbol-wrapper:nth-of-type(5) {
    transform:
      rotate(232deg) translate(95%) rotate(-232deg);
  }

  .symbol-wrapper:nth-of-type(6) {
    transform:
      rotate(282deg) translate(95%) rotate(-282deg);
  }

  .symbol-wrapper:nth-of-type(7) {
    transform:
      rotate(334deg) translate(95%) rotate(-334deg);
  }

  .symbol-wrapper:nth-of-type(8) {
    transform:
      rotate(0deg) translate(0%) rotate(0deg);
  }
}

ion-card {
  aspect-ratio: 1;
  border-radius: 50%;
}
