<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">We See</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to start a new game?</strong>
    <ion-button expand="block"
      [routerLink]="['/setup']"
      routerDirection="root">New Game</ion-button>

    <ion-button expand="block" fill="clear"
      [routerLink]="['/image-credits']"
      routerDirection="root">See All Images</ion-button>

  </div>
</ion-content>
