<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Image Credits</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']"
        routerDirection="back">
        <ion-icon slot="icon-only"
          color="dark"
          name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Total Images: {{allSymbols?.length}}</h1>
  <p>All images in this game are used with permission from <a href="https://pixabay.com"
      target="_blank">Pixabay.com</a>.</p>
  <p>Clicking on any image will take you to its page so you can download it and view other images by the same
    artists.</p>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let symbol of allSymbols">
        <ion-button class="credit-image"
          fill="clear"
          (click)="openImageCredits(symbol)"
          [title]="symbol.referralUrl">
          <ion-icon slot="icon-only"
            src="/assets/symbols/{{symbol.fileName}}"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
