<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Image Credits</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']"
        routerDirection="back">
        <ion-icon slot="icon-only"
          color="dark"
          name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Total Images: {{allSymbols?.length}}</h1>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let symbol of allSymbols">
        <div class="credit-image">{{symbol}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
