ion-content {
  --ion-background-color: #c5bebe;

  ion-icon {
    background-color: transparent;
    font-size: calc((0.4em + 5vmin) + (0.4em + 5vmax));
  }
  ion-button.credit-image {
    width: calc((0.4em + 6vmin) + (0.4em + 6vmax));
    height: calc((0.4em + 6vmin) + (0.4em + 6vmax));
  }
}
